* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

strong {
  color: red;
}

img {
  width: 10em;
}

.active {
  display: block;
}

.header {
  text-align: center;
  background: black;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #333;
  padding: 0px 200px;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  padding: 25px 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  background: #ebebeb;
  color: black;
  -webkit-box-shadow: inset -4px 0px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset -4px 0px 10px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 10px 0;
}

.header__title {
  color: white;
  -webkit-animation: anim 2s ease-in;
          animation: anim 2s ease-in;
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes anim {
  from {
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes anim2 {
  from {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes anim2 {
  from {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.apple__img {
  width: 5%;
}

.header__subtitle {
  color: white;
  -webkit-animation: anim2 2s ease-in;
          animation: anim2 2s ease-in;
}

.swiper__img {
  width: 100%;
  display: block;
}

.swiper__img-mob {
  display: none;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.card__items {
  text-align: center;
}

.card__name {
  padding: 50px 0 0 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.card {
  margin: 15px;
  padding: 55px 55px 20px 55px;
  background: #fefefe;
  border: 1px solid #9e9e9e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  border: 4px solid #b1d9fc;
  background: #f7f7f7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: -4px 3px 10px 1px rgba(0, 0, 0, 0.7);
          box-shadow: -4px 3px 10px 1px rgba(0, 0, 0, 0.7);
}

.card__shopping {
  padding: 10px 0 0 0;
}

.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background: black;
  color: white;
}

.shopping__title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
}

.shopping__title:hover {
  text-decoration: underline;
}

.card__title {
  font-size: 18px;
  font-style: italic;
}

.card__subtitle {
  font-style: italic;
}

.far {
  padding: 20px 20px 20px 35px;
  background: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.far:hover {
  padding: 20px 20px 20px 60px;
  background: #e8e8e8;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

hr {
  border: 1px solid black;
  margin: 20px 0;
}

@media (max-width: 375px) {
  .header__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .header__subtitle {
    font-size: 14px;
  }

  .header__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .apple__img {
    width: 15%;
  }
}
@media (max-width: 768px) {
  .swiper__img-mob {
    display: block;
    width: 100%;
  }

  .swiper__img {
    display: none;
  }
}
@media (max-width: 1024px) {
  .no-active {
    display: none;
  }

  .header__title {
    -webkit-animation: none;
            animation: none;
  }

  .header__subtitle {
    -webkit-animation: none;
            animation: none;
  }
}