* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    background: #e8e8e8;
}

strong {
    color: teal;
}

img{
    width: 10em;
}

.active{
    display: block;
}



.header{
    text-align: center;
    background: black;
}

.header__navigation{
    display: flex;
    justify-content: space-evenly;
    background: #333;
    padding: 0px 200px;
}


.nav__link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;

    padding: 25px 35px;
    transition: .3s;
}

.nav__link:hover{
    background: rgb(235, 235, 235);
    color: black;
    box-shadow: inset -4px 0px 10px 1px rgb(0 0 0 / 50%);
    transition: .3s;
}

.header__name{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 0 10px 0;
}

.header__title{
    color: white;
}

.apple__img{
    width: 5%;
}

.header__subtitle{
    color: white;
}

.swiper__img{
    width: 100%;
    display: block;
}

.swiper__img-mob{
    display: none;
}


.main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__items{
    text-align: center;
}

.card__name{
    padding: 50px 0 0 0;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.card{
    margin: 15px;
    padding: 55px;

    border: 1px solid #cccccc;
    transition: .2s;
}

.card:hover{
    border: 4px solid #b1d9fc;
    background: #f7f7f7;
    transition: .2s;
}

@media (max-width: 320px){

}

@media (max-width: 375px){
    .header__subtitle{
        font-size: 14px;
    }

}

@media (max-width: 425px){
    .header__subtitle{
        font-size: 14px;
    }

    .header__name{
        display: flex;
    }
    
    .apple__img{
        width: 15%;
    }
}

@media (max-width: 768px){
        .swiper__img-mob{
            display: block;
            width: 100%;
        }
        .swiper__img{
            display: none;
        }


}

@media (max-width: 1024px){
    .no-active{
        display: none;
    }
}